<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN''http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<sqlMap namespace="Student">

	<typeAlias type = "edu.student.model.User" alias = "user"/>
	
	<resultMap id = "result" class = "user" autoMapping="true">
	</resultMap>
	
	<select id="getAllUser" resultMap="java.util.List">
		select * from Users
	</select>
	
	<select id="getUserById" parameterClass="Integer" resultMap="result">
		select * from Users where Id = #userId#
	</select>
	
	<delete id="deleteUser" parameterClass="user">
		delete from Users where Id = #userId#
	</delete>

</sqlMap>